[Desktop Entry]
Version=1.0
Type=Link
Name=Nina Imagina - Natureza (Videoclipe infantil) - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=G7ZxKmVbCrg
